.weekBtn{
  width: 39.8px;
  height: 37.81px;
}

.dateHeader{
  text-align: center;
  padding-top: 70px;
}

.monthBtn{
  height: 25px;
  width: 25px;
}

#habitForm{
  max-width: 250px;
  padding-top:70px;
}

.navIcon{
  margin-right:10px;
}

.offcanvas{
  width: 200px;
  height: 200px
}  

.signUp{
  margin-left: 10px
}

.loginIcon{
    border-radius: 50%;
    border:  solid;
    padding: 5px;
    font-size: 30px;
}

#loading{
  display: flex;
  justify-Content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.rightBtn{
  display: flex;
  justify-content: flex-end;
}

.userForm{
  max-width: 350px;
}

.formContainer{
  place-content: center;
}













